* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/fanny1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
span {
    color: violet;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 250px;
    transition: 0.9s ease;
}
.logo {
    font-size: 28px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.navigation {
    position: relative;
    margin-top: 10px;
}
.navigation .nav a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.navigation .nav a:hover {
    color: violet;
}
.content {
    padding: 170px 250px;
}
.home h2 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.title {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.9s;
}
.title:hover {
    -webkit-text-stroke: 1px violet;
    color: transparent;
}
.home p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    width: 70%;
}
.img-device img {
    display: none;
}
.links {
    margin-top: 40px;
}
.links a {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    border: 2px solid violet;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.8s;
}
.links a:hover {
    background: violet;
    color: black;
    border: 2px solid violet;
}
.another {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    border-bottom: 2px solid violet;
}
.another p {
    color: white;
    font-size: 17px;
    width: 90%;
    margin-bottom: 20px;
}
header.active {
    border: 2px solid white;
    height: 50px;
    background: white;
    padding: 1px 250px;
}
header.active a {
    color: black
}
header.active .navigation .nav a{
    color: black;
}
header.active .navigation .nav a:hover {
    color: violet;
}
.about {
    color: white;
    padding: 10px 250px;
    text-align: center;
    font-size: 30px;
    margin-top: -100px;
}
.about-title p {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-gwapo {
    margin-top: 20px;
    padding: 0 250px;
    margin-bottom: 20px;
}
.about-me p {
    color: white;
    width: 90%;
    line-height: 23px;
    font-size: 19px;
    margin-top: 30px;
}
.img-po img {
    width: 300px;
    height: 400px;
    border-left: 2px solid violet;
    outline: none;
    border-bottom: 2px solid violet;
    border-radius: 5px;
}
.about-col {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 700px) {
    header {
        display: none;
    }
    .content {
        padding: 0;
        margin-top: 60px;
    }
    .home h2 {
        font-size: 20px;
    }
    .title {
        font-size: 30px;
        -webkit-text-stroke: 1px violet;
        color: transparent;
    }
    .title:hover {
        color: violet;
    }
    .home p {
        font-size: 13px;
        width: 90%;
    }
    .links a {
        font-size: 13px;
        padding: 10px 20px;
    }
    .links {
        margin-top: 25px;
    }
    .another p{
        font-size: 11px;
        margin-top: -50px;
    }
    .about-title h2 {
        font-size: 29px;
    }
    .about-title p {
        font-size: 13px;
    }
    .about {
        padding: 0;
        margin-top: 20px;
    }
    .about-gwapo {
        padding: 0;
        border-bottom: 2px solid violet;
    }
    .about-col {
        flex-direction: column;
    }
    .about-me p {
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .about-col img {
        display: none;
    }
    .img-device img {
        display: block;
        width: 200px;
        height: 180px;
        margin-top: 40px;
        border-radius: 50%;
        margin-left: 120px;
        border-left: 2px solid violet;
        border-top: 2px solid violet;
    }
}
.services {
    padding: 20px 190px;
    color: white;
}
.services h2 {
    text-align: center;
    font-size: 38px;
}
.services-text p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services-clark {
    width: 40%;
    margin-left: 30px;
    cursor: pointer;
    padding: 10px 0;
    border: 2px solid violet;
    border-radius: 22px;
}
.services-clark h2 {
    font-size: 22px;
}
.services-clark p {
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
}
.services-col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.services-content {
    margin-top: 50px;
}
.button-serv {
    display: flex;
    justify-content: center;
}
.button-serv a{
    padding: 17px 65px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.9s;
}
.button-serv a:hover {
    background: violet;
    color: black;
    border: 2px solid violet;
}
.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 250px;
}
.form h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
form input,textarea {
    width: 100%;
}
form input {
    height: 60px;
    margin-bottom: 5px;
    background: transparent;
    border: 2px solid white;
    padding-left: 10px;
    color: white;
    font-size: 19px;
    backdrop-filter: blur(5px);
}
form textarea {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    backdrop-filter: blur(5px);
}
form textarea::placeholder {
    color: white;
    padding-top: 5px;
    font-size: 16px;
}
form input::placeholder {
    color: white;
    font-size: 14px;
}
.button-hire {
    margin-top: 5px;
}
.button-hire button {
    padding: 20px 40px;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    transition: 0.4s;
}
.button-hire button:hover {
    background: violet;
    color: black;
    border: 2px solid violet;
}
.button-hire a {
    text-decoration: none;
    color: white;
    float: right;
    padding: 20px 30px;
    border: 2px solid white;
    font-weight: 600;
    transition: 0.4s;
}
.button-hire a:hover {
    background: violet;
    color: black;
    border: 2px solid violet;
}
@media (max-width: 700px) {
    .services-text h2 {
        font-size: 29px;
    }
    .services-text p {
        font-size: 13px;
    }
    .services {
        padding: 0;
    }
    .services-col {
        flex-direction: column;
    }
    .services-clark {
        width: 90%;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .button-serv {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .button-serv a {
        font-size: 15px;
        padding: 20px 70px;
    }
    .form h2 {
        font-size: 20px;
    }
    .form {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-left: 15px;
    }
    form input,textarea {
        width: 95%;
    }
    .button-hire button {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .button-hire a {
        font-size: 15px;
        float: left;
    }
    .button-hire {
        margin-bottom: 80px;
    }
    form input::placeholder {
        font-size: 13px;
    }
    form textarea::placeholder {
        font-size: 13px;
    }
}
.skills-text h2 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.skills-text p {
    color: white;
    text-align: center;
    line-height: 23px;
    font-size: 16.6px;
}
.skills {
    padding: 20px 200px;
}
.skills-col-text {
    color: white;
    margin-top: 27px;
    margin-bottom: 10px;
}
.skills-col-text h3 {
    font-size: 19px;
}
.skills h2 {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 16px;
}
.porgress-bar {
    background: #959595;
    width: 600px;
    border-radius: 5px;
    height: 10px;
}
.porgress-bar div {
    height: 10px;
    border-radius: 5px;
}
.porgress-bar div .ski {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #333;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html {
    background-color: red;
    width: 95%;
}
.css {
    background-color: blue;
    width: 90%;
}
.cpp {
    background-color: aqua;
    width: 87%;
}
.js {
    background-color: orange;
    width: 80%;
}
.py {
    background-color: yellow;
    width: 70%;
}
.photo {
    background: lightsalmon;
    width: 30%;
}
.container {
    border: 2px solid violet;
}
.video {
    background-color: blue;
    width: 100%;
}
.basketball {
    background-color: aqua;
    width: 95%;
}
.exercise {
    background-color: yellow;
    width: 92%;
}
.food {
    background-color: red;
    width: 60%;
}
.fitness {
    background-color: orange;
    width: 40%;
}
.drink {
    background: brown;
    width: 10%;
}
@media (max-width: 700px) {
    .skills {
        padding: 0;
        margin-bottom: 10px;
    }
    .porgress-bar {
        width: 90%;
        margin-bottom: 10px;
    }
    .container {
        width: 90%;
        margin-left: 20px;
        padding: 0 10px;
    }
    .skills-col-text h3 {
        font-size: 17px;
        text-align: center;
    }
    .services {
        border-bottom: 2px solid violet;
    }
    .skills-text p {
        font-size: 12px;
        line-height: 15px;
    }
}
.favorite {
    padding: 20px 200px;
}
.favorite-col-text h2 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.favorite-col-text p {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 23px;
}
.my-fav-con h2 {
    color: white;
    font-size: 27px;
}
.my-fav-con {
    margin-top: 50px;
    margin-bottom: 30px;
}
.james img {
    width: 270px;
    height: 390px;
}
.fanny img {
    width: 270px;
    height: 390px;
    border: 3px solid gold;
    box-shadow: 0 0 2px 2px orange;
}
.fanny h3 {
    color: white;
    font-size: 22px;
    margin-left: 95px;
    font-weight: 700;
    text-transform: uppercase;
}
.fanny p {
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid violet;
}
.james h3 {
    color: white;
    font-size: 22px;
    margin-left: 95px;
    font-weight: 700;
    text-transform: uppercase;
}
.james p {
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid violet;
}
.dave {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.james h4 {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-left: 70px;
}
.thankyou {
    margin-top: 120px;
}
.thankyou-col img {
    width: 300px;
    height: auto;
    border-radius: 22px;
}
.thankyou-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thankyou-text {
    margin-left: 70px;
    border: 2px solid violet;
    padding: 20px 20px;
    border-radius: 22px;
}
.thankyou-text p {
    color: white;
    font-size: 18px;
    line-height: 33px;
}
@media (max-width: 700px) {
    .favorite {
        padding: 0;
        margin-top: 20px;
        border-top: 2px solid violet;
    }
    .favorite-col-text p {
        font-size: 13px;
        line-height: 20px;
    }
    .favorite-col-text h2 {
        font-size: 32px;
        margin-top: 20px;
    }
    .my-fav-con h2 {
        font-size: 16px;
    }
    .dave {
        flex-direction: column;
    }
    .fanny p {
        width: 50%;
        margin-left: 60px;
    }
    .james p {
        width: 50%;
        margin-left: 60px;
    }
    .james {
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .fanny {
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .thankyou-col {
        flex-direction: column;
    }
    .thankyou-text {
        width: 90%;
        margin-left: -5px;
        margin-top: 10px;
        padding: 15px 4px;
        margin-bottom: 20px;
    }
    .thankyou-text p {
        font-size: 12px;
        width: 100%;
    }
    .thankyou {
        border-top: 2px solid violet
    }
    .thankyou-col {
        margin-top: 20px;
    }
}